<launch>
    <!--Soundplay-->
    <!--<include file="$(find sound_play)/soundplay_node.launch"/>-->

    <!--Nodes-->
    <node pkg="probabilistic_model" name="particle_filter" type="particle_filter.py" output="screen"/>

    <!--Display State-->
    <node pkg="visualization" name="real_pose_pix" type="real_pose_pix.py"/>
    <node pkg="visualization" name="display_state" type="display_state.py"/>
    <node pkg="visualization" name="scan2pointcloud" type="scan2pointcloud.py"/>
    <node pkg="rqt_image_view" name="image_view_state" type="rqt_image_view" args="/img_map"/>

    <!--PID Controller-->
    <node name="wall_tracker" pkg="pid" type="controller" ns="wall_tracker">
        <param name="Kp" value="1.2"/>
        <param name="Ki" value="0.0"/>
        <param name="Kd" value="0.6"/>
        <param name="upper_limit" value="0.5"/>
        <param name="lower_limit" value="-0.5"/>
    </node>
</launch>
