<launch>
    <!--Simulator-->
    <include file="$(find very_simple_robot_simulator)/launch/minimal_simulator.launch"/>
    <include file="$(find very_simple_robot_simulator)/launch/lidar_simulator.launch"/>
    <node pkg="very_simple_robot_simulator" name ="world_state_gui" type ="world_state_gui.py">
        <param name="map_file" type="yaml" value="$(find probabilistic_model)/maps/mapa.yaml"/>
    </node>
</launch>
