<launch>
    <!--Simulator-->
    <include file="$(find very_simple_robot_simulator)/launch/minimal_simulator_py.launch"/>
    <include file="$(find very_simple_robot_simulator)/launch/openni_simulator_py.launch"/>
    <include file="$(find very_simple_robot_simulator)/launch/world_state.launch"/>

    <!--Soundplay-->
    <include file="$(find sound_play)/soundplay_node.launch"/>

    <!--Nodes-->
    <node pkg="movement" name="dead_reckoning_obstacles" type="dead_reckoning_obstacles.py" output="screen"/>
    <node pkg="movement" name="pose_file_reader" type="pose_file_reader.py"/>
    <node pkg="vision" name="obstacle_detector" type="obstacle_detector.py"/>
</launch>
