<launch>
    <!--Simulator-->
    <include file="$(find very_simple_robot_simulator)/launch/minimal_simulator.launch"/>
    <include file="$(find very_simple_robot_simulator)/launch/openni_simulator.launch"/>
    <include file="$(find very_simple_robot_simulator)/launch/world_state.launch"/>

    <!--Nodes-->
    <node pkg="navigation" name="dead_reckoning_nav" type="dead_reckoning_nav.py"/>
    <node pkg="navigation" name="pose_file_reader" type="pose_file_reader.py"/>

    <!-- Just to debug we use the position writer -->
    <!-- <node pkg="navigation" name="position_diff_writer" type="position_diff_writer.py"/> -->
</launch>
